{
  "extends": "eslint:recommended",
  "env": {
    "node": true,
    "es6": true,
    "jest": true
  },
  "parserOptions": {
    "ecmaVersion": "2017"
  },
  "plugins": [
    "node"
  ],
  "rules": {
    "arrow-parens": ["error", "always"],
    "no-var": "error",
    "prefer-const": "error",
    "array-bracket-spacing": ["error", "never"],
    "comma-dangle": ["error", "never"],
    "computed-property-spacing": ["error", "never"],
    "eol-last": "error",
    "eqeqeq": ["error", "smart"],
    "indent": ["error", 2, { "SwitchCase": 1 }],
    "no-confusing-arrow": ["error", {"allowParens": false}],
    "no-extend-native": "error",
    "no-mixed-spaces-and-tabs": "error",
    "no-spaced-func": "error",
    "no-trailing-spaces": "error",
    "no-unused-vars": "error",
    "no-use-before-define": ["error", "nofunc"],
    "object-curly-spacing": ["error", "always"],
    "prefer-arrow-callback": "error",
    "quotes": ["error", "single", "avoid-escape"],
    "semi": ["error", "always"],
    "space-infix-ops": "error",
    "spaced-comment": ["error", "always"],
    "keyword-spacing": ["error", { before: true, after: true }],
    "template-curly-spacing": ["error", "never"],
    "semi-spacing": "error",
    "strict": "error",
    "no-console": "off",
    "node/no-unsupported-features": ["error", {"version": 8}],
    "node/no-missing-require": "error"
  }
}
