{
  "rules": {
    "indent": [2, 2],
    "quotes": [2, "single"],
    "quote-props": [2, "as-needed"],
    "no-console": [1],
    "semi": [2, "always"],
    "space-before-function-paren": [2, "never"],
    "object-curly-spacing": [2, "always"],
    "array-bracket-spacing": [2, "never"],
    "comma-spacing": [2, { "before": false, "after": true }],
    "key-spacing": [2, { "beforeColon": false, "afterColon": true }]
  },
  "env": {
      "node": true,
      "es6": true
  },
  "globals": {
      "process": true,
      "module": true,
      "require": true
  },
  "extends": "eslint:recommended"
}
